body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color:#ececec;
    height: 10vh;
    width: 98vw;
    box-sizing: border-box;
}
header {
    padding: 10px ;
    background-color: #233142;
    color: red;
    display: flex;
    justify-content: space-between;
    height: 17vh;
    width: 98vw;
}    
 header li {
    display: inline-block;
    font-size: larger;
    
    
}
header li a {
    color: yellowgreen;
    border: 1px solid transparent;
    padding: 5px;
    margin: 20px;
    float: right;
    text-decoration: none;
    font-size: larger;
}
 header li a:hover{
    color:red;
    transition: 1.5s;
    cursor: pointer;
    background-color: black;
    box-shadow: 5px 0px 10px ;}
    spam{
        color: blue;
    }
    .topic{
        text-align: center;
    border: 1px solid transparent;
    padding: 30px;
    color: red;
    font-size: 20px;
    position: relative;
  animation-name: topic;
  animation-duration: 15s;
  animation-iteration-count: infinite;
       
    }
@keyframes topic {
    0%   {color:blue; left:0px  }
    25%  {color:#430f58 ; left:500px; }
    50% {color:green; left:-500px;}
    100% { color:black; left:500px}
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        color: black;
        column-gap:10px ;
        row-gap: 10px;
        border: 1px solid transparent;
        box-shadow:  10px 20px 30px 40px red;
    }

        .grid-item1{
            border: 1px solid transparent;
            text-align: center;
            border: 1px solid transparent;
            padding: 50px;
            font-size: 35px;
            box-shadow: 5px 10px 15px 20px white;
        }
        .grid-item1 h3{
            animation-name: grid;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            font-weight: bolder;

        }
      
        @keyframes grid {
            0%   {color:blue;   }
            25%  {color:#430f58 ;  }
            50% {color:green; }
            100% { color:black; }}
         

        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: white;
            margin-bottom: 10px;
        
        }
        input[type=submit] {
            color: red;
            padding: 10px 20px;
            border: 1px solid transparent;
            border-radius: 9px;
            cursor: pointer;
            background-color: black;
        }
    
footer{
        height: 10vh;
        width: 98vw;
    }
       .line{
            display: flex;
            padding : 10px;
            color: red;
            justify-content: space-between;
            background-color: #233142;
            box-shadow: 10px 20px 30px 40px black;
        }
    .item{
            width: 450px;
            padding: 5px;
            border: 1px solid transparent;
            margin-bottom: 30px;
            color: greenyellow;
            margin-right: 20px;
            font-size: large;
        }
     .item h1{
            color: red;
        }
         .item2{
            margin-bottom: 20px;
            margin: 10px;
        }
    .item3 a {
         font-size: 40px;
         padding: 20px;
        }
     .item3 h1{
            font-size: large;
        }