
body{
    font-family: sans-serif;
    background-color:#e3e3e3 ;
    font-family: 'Roboto Condensed', sans-serif;
    height: 10vh;
    width: 98vw;

   
}
.logo{
    display:none;
}
header {
    padding: 10px ;
    background-color:  #233142;
    color: greenyellow;
    display: flex;
    justify-content: space-between;
    height: 17vh;
    width: 98vw;
}    
 header li {
    display: inline-block;
    font-size: larger;
    
    
}
header li a {
    color: yellowgreen;
    border: 1px solid transparent;
    padding: 5px;
    margin: 20px;
    float: right;
    text-decoration: none;
    font-size: larger;
}
 header li a:hover{
    color:red;
    transition: 1.5s;
    cursor: pointer;
    background-color: black;
    box-shadow: 5px 0px 10px red;}
    @media only screen and (max-width:900px){
        header li a{
            display: none;
            
        }
        .logo{
            display: block;
            padding: 40px;
            width: auto; 
            
        }

        header{
          width:380vw;      }
      }
   
      
    
  
   
.one{
    text-align: center;
    border: 1px solid transparent;
    padding: 30px;
    color: red;
    font-size: 20px;
    position: relative;
  animation-name: topic;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  box-shadow: 10px 20px 30px white;
}

@keyframes topic {
    0%   {color:blue; left:0px  }
    25%  {color:#430f58 ; left:500px; }
    50% {color:green; left:-500px;}
    100% { color:black; left:500px}  
  }
 
 



.gridr {
  display: grid;
  padding: 10px;
  color: black;
  grid-template-columns: auto auto auto;
  column-gap:10px ;
  row-gap: 15px;

}
.grid-item{
  border: 1px solid transparent;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: 5px 10px 15px 20px white;
  animation-name: grid;
  animation-duration: 10s;
  animation-iteration-count: infinite;
 }
.grid-item img{
    width:80%;}
 .grid-item2 {
    box-shadow: 5px 10px 15px 20px white;    
 }
 .grid-item2 img{
    width: 100%;
 }
 .grid-item3 {
    grid-column: 1 / 4;
    grid-row: 2;
    justify-self: center;
    margin: 10px;
    padding: 10px;
    height: 30vh;
    width: 50vw;
    font-size:x-large;
    box-shadow: 5px 10px 15px 20px white;
    text-align: center;
  
 }

 .grid-item2 h1{
    animation-name: grid;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-left: 5%;
    
   
 }
 .grid-item3 h2{
    animation-name: grid;
    animation-iteration-count: infinite;
  animation-duration: 10s;
 }
 .grid-item img {
    width: 100%;
 }
 .grid-item2{
    width: 100%;
 }
 @keyframes grid {
    0%   {color:blue;   }
    25%  {color:#430f58 ;  }
    50% {color:green; }
    100% { color:black; }
 
 }
 @media only screen and (max-width:900px){
   
    .gridr{
        display:grid;
        grid-template-columns: auto;
        padding: 10px;
        font-size: xx-large;
        width: 79vh;
        place-items: center;
        align-items: center;
        justify-content: center;
            }
 .gridr .grid-item{
    width: 60%;
 }

            
    

 .gridr .grid-item2{
    display: inline-block;
    grid-column:1;
    grid-row: 2;
    font-size: xx-large;
    width: 75%;
}
.gridr .grid-item3{
    display: grid;
    grid-template-columns: auto;
    grid-column:1;
    grid-row: 3;
    font-size: xx-large;
    height: 75%;
    padding-left: 10px;
    width:80%;
    }

.line{
    width: 370vw;
    
}
.line .item{
    margin: 10px;

}

}

footer{
    height: 10vh;
    width: 98vw;
}
   .line{
        display: flex;
        padding : 10px;
        color: yellowgreen;
        justify-content: space-between;
        background-color: #233142;
        box-shadow: 10px 20px 30px 40px black;
    }
.item{
        width: 450px;
        padding: 5px;
        border: 1px solid transparent;
        margin-bottom: 30px;
        color: greenyellow;
        margin-right: 20px;
        font-size: large;
    }

     .item2{
        margin-bottom: 20px;
        margin: 10px;
    }

.item3 a {
     font-size: 20px;
     padding: 20px;
     color: yellowgreen;
     text-decoration: none;
    }
  
    