
body{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    background-color;
    height: 10vh;
    width:98vw;
    background-color:#e3e3e3 ;

   
}
header {
    padding: 10px ;
    background-color:  #233142;
    color: red;
    display: flex;
    justify-content: space-between;
    height: 17vh;
    width: 98vw;
}    
 header li {
    display: inline-block;
    font-size: larger;
    
    
}
header li a {
    color: yellowgreen;
    border: 1px solid transparent;
    padding: 5px;
    margin: 20px;
    float: right;
    text-decoration: none;
    font-size: larger;
}
 header li a:hover{
    color:red;
    transition: 1.5s;
    cursor: pointer;
    background-color: black;
    box-shadow: 5px 0px 10px ;}
    
  
   
.one{
    text-align: center;
    border: 1px solid transparent;
    padding: 30px;
    color: red;
    font-size: 70px;
    background-color:
}



.gridr {
  display: grid;
  padding: 10px;
  color: red;
  grid-template-columns: auto auto auto;
  column-gap:10px ;
  row-gap: 15px;
  box-shadow: 10px 20px 30px 40px ;
}
.grid-item{
  background-color: #fbf2d5;
  border: 1px solid transparent;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: 5px 6px 7px 8px whitesmoke;
  

 }
 .grid-item2 {
    background-color: #ffcbcb;
    padding:10px;
 }
 .grid-item3 {
    grid-column: 1 / 4;
    grid-row: 2;
    justify-self: center;
    background-color: whitesmoke;
    margin: 30px;
    padding: 70px;
    height: 20vh;
    width: 50vw;
    font-size: larger;

 }

 
.grid-item img{
    border-radius: 50%;
 }
spam{
    color:blue
}
footer{
    height: 10vh;
    width: 98vw;
}
    
.line{
        display: flex;
        padding : 10px;
        color: red;
        justify-content: space-between;
        background-color: #233142;
        box-shadow: 10px 20px 30px 40px black;
        


    }
.item{
        width: 450px;
        padding: 5px;
        border: 1px solid transparent;
        margin-bottom: 30px;
        color: greenyellow;
        margin-right: 20px;
        font-size: large;
    }
 .item h1{
        color: red;
    }
     .item2{
        margin-bottom: 20px;
        margin: 10px;
    }
.item3 a {
     font-size: 40px;
     padding: 20px;
    }
 .item3 h1{
        font-size: large;
    }
    

        