
body{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    height: 10vh;
    width:98vw;
    background-color:#e3e3e3;

   
}
.logo{
    display:none;
}
header {
    padding: 10px ;
    background-color: #233142;
    color: yellowgreen;
    display: flex;
    justify-content: space-between;
    height: 17vh;
    width: 98vw;
}    
 header li {
    display: inline-block;
    font-size: larger;
    
    
}
header li a {
    color: yellowgreen;
    border: 1px solid transparent;
    padding: 5px;
    margin: 20px;
    float: right;
    text-decoration: none;
    font-size: larger;
}
 header li a:hover{
    color:red;
    transition: 1.5s;
    cursor: pointer;
    background-color: black;
    box-shadow: 5px 0px 10px ;}
    @media only screen and (max-width:900px){
        header li a{
            display: none;
        }
        .logo{
            display: block;
            padding: 40px;
            width: auto; 
            
        }
        header{
          width:380vw;      }
      }
   
     
.topic{
    text-align: center;
    border: 1px solid transparent;
    padding: 30px;
    color: red;
    font-size: 70px;
    position: relative;
    animation-name: topic;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    font-size: 20px;
    
}


@keyframes topic {
    0%   {color:blue; left:0px  }
    25%  {color:#430f58 ; left:500px; }
    50% {color:green; left:-500px;}
    100% { color:black; left:500px}
       
    
  }
.grid {
    display: grid;
    padding: 10px;
    color: red;
    grid-template-columns: auto auto auto;
    column-gap:10px ;
    row-gap: 10px;
    border: 1px solid transparent;
    box-shadow: 5px 10px 15px 20px red;
   
  }
  
  .grid-item1{
    grid-row-start:1;
    grid-row-end: 4;
    border: 1px solid transparent;
    height: 100vh;
    box-shadow: 5px 10px 15px 20px white;
  }
  .grid-item{
    border: 1px solid transparent;
    box-shadow: 5px 10px 15px 20px white;
  }
  .grid-item1 img{
    height: 117%;
  }
  .grid-item img{
    width: 100%;
  }
  @media only screen and (max-width:900px){
   .topic{
    width: 30vw;
   }
    .grid{
        display:grid;
        grid-template-columns: auto;
        padding: 10px;
        font-size: xx-large;
        width: 90vh;
        box-shadow: none;
        place-items: center;
        align-items: center;
        justify-content: center;
            }
 .grid .grid-item img{
    width: 90%;
 }
 .grid .grid-item1 img{
    width: 60%;
 }

            
    

 .grid .grid-item{
    width: 80%;
}
.line{
    width: 370vw;
    
}
.line .item{
    margin: 10px;

}

}
footer{
    height: 10vh;
    width: 98vw;
}
    
.line{
        display: flex;
        padding : 10px;
        color: greenyellow;
        justify-content: space-between;
        background-color: #233142;
    }
.item{
        width: 450px;
        padding: 5px;
        border: 1px solid transparent;
        margin-bottom: 30px;
        color: greenyellow;
        margin-right: 20px;
        font-size: large;
    }
 
     .item2{
        margin-bottom: 20px;
        margin: 10px;
    }
.item3 a {
    font-size: 20px;
    padding: 20px;
    color: yellowgreen;
    text-decoration: none;
    }
 
    

        